<app-form-layout>
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">
        <i class="pi pi-user"></i>
        User Registration
      </p-tab>
      <p-tab value="1">
        <i class="pi pi-send"></i>
        Product Feedback
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-schema-based-form [formSchema]="userRegistrationSchema" (onFormSubmit)="onFormSubmit($event)"  />
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-schema-based-form [formSchema]="productRegistrationSchema" (onFormSubmit)="onFormSubmit($event)" />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
  <p-dialog header="Form Details" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }" [maximizable]="true" (close)="onClose()" >
    @if(modalFormData){
      <div class="modal-layout">
      @for(field of modalFormData | keyvalue; track field.key) {
        <div class="modal-data">
          <label>{{field.key}}: </label> <span>{{field.value}}</span>
        </div>
      }
      </div>
    }
  </p-dialog>
</app-form-layout>
