<app-form-layout>
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">
        <i class="pi pi-user"></i>
        User Registration
      </p-tab>
      <p-tab value="1">
        <i class="pi pi-send"></i>
        Job Application
      </p-tab>
      <p-tab value="2">
        <i class="pi pi-upload"></i>
        Upload Schema
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-schema-based-form [formSchema]="userRegistrationSchema" (onFormSubmit)="onFormSubmit($event)"  />
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-schema-based-form [formSchema]="productRegistrationSchema" (onFormSubmit)="onFormSubmit($event)" />
      </p-tabpanel>
      <p-tabpanel value="2">
        <app-schema-uploader (schemaLoaded)="onSchemaLoaded($event)" />
        @if (uploadedSchema) {
          <div class="uploaded-form-section">
            <h3>Preview Uploaded Schema Form</h3>
            <app-schema-based-form [formSchema]="uploadedSchema" (onFormSubmit)="onFormSubmit($event)" />
          </div>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
  <p-dialog header="Form Details" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }" [maximizable]="true" (close)="onClose()" >
    @if(modalFormData){
      <div class="modal-layout">
      @for(field of modalFormData; track field.fieldName) {
        @if(field.value) {
          <div class="modal-data">
            <label>{{field.label}}: </label> <span>{{field.value}}</span>
          </div>
        }
      }
      </div>
    }
  </p-dialog>
</app-form-layout>
