<form class="form-layout" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <p-message>{{ this.formSchema.title }}</p-message>
  @for (field of this.formSchema.fields; track field.label) {
    <div>
      @switch (field.type) {
        @case ('text') {
          <div class="form-element">
            <label>{{ field.label }}</label>
            <input type="text" pInputText [formControlName]="field.name"/>
          </div>
        }
        @case ('email') {
          <div class="form-element">
            <label>{{ field.label }}</label>
            <input pInputText id="email" autocomplete="off" [formControlName]="field.name"/>
          </div>
        }
        @case ('date') {
          <div class="form-element">
            <label>{{ field.label }}</label>
            <p-datePicker [formControlName]="field.name"/>
          </div>
        }
        @case ('dropdown') {
          <div class="form-element">
            <label>{{ field.label }}</label>
            <p-select [placeholder]="'Select ' + field.label" [options]="field.options" [formControlName]="field.name"/>
          </div>
        }
        @case ('multiselect') {
          <div class="form-element">
            <label>{{ field.label }}</label>
            <p-multiSelect [placeholder]="'Select ' + field.label" [options]="field.options" [formControlName]="field.name"/>
          </div>
        }
        @case ('checkbox') {
          <div class="form-element">
            <div class="checkbox-label">
              <p-checkbox [inputId]="field.name" [name]="field.name" [binary]="true"/>
              <label [for]="field.name" class="ml-2"> {{ field.label }} </label>
            </div>
          </div>
        }
        @case ('textarea') {
          <div class="form-element">
            <label>{{ field.label }}</label>
            <textarea rows="5" cols="35" pTextarea [autoResize]="true" [formControlName]="field.name"></textarea>
          </div>
        }
      }
    </div>
  }
  <p-button type="submit" label="Submit" />
</form>
