.form-element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
