@import "primeicons/primeicons.css";

html, body {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --p-primary-color: rgb(46, 106, 184);
  --p-primary-contrast-color: #ffffff;
}
